@page "/userList"
@using EmployeeManagementSystem.Model.Models.User

<PageTitle>User List</PageTitle>

@{
    int userNo = 0;
}
@if (UserDetailModels is null)
{
    <div class="d-flex flex-column h-100 justify-content-center align-items-center" style="padding: 30vh">
        <div class="spinner-border text-primary mb-3" role="status">
        </div>
        <div>
            <div style="font-size: larger; font-weight: 800; color: black;">Loading ... </div>
        </div>
    </div>
}
else
{
    <div class="card shadow">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">User List</h6>
            <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="roleDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100px;">
                @(role + " ")
            </button>
            <div class="dropdown-menu" aria-labelledby="roleDropdown">
                <a class="dropdown-item" @onclick=@(() => GetUserListByRole("All"))>All</a>
                <a class="dropdown-item" @onclick=@(() => GetUserListByRole("Admin"))>Admin</a>
                <a class="dropdown-item" @onclick=@(() => GetUserListByRole("User"))>User</a>
            </div>
        </div>
        <div class="card-body" style="max-height: 75vh; overflow-y: auto;">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>User Code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>User Code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var user in UserLists)
                        {
                            var userEditUrl = $"userUpdate/{user.UserCode}";
                            userNo++;
                            <tr>
                                <td>@userNo</td>
                                <td>@user.UserCode</td>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>@user.RoleName</td>
                                <td>
                                    @if (user.Email != currentUserEmail)
                                    {
                                        <div class="align-items-end">
                                            <NavLink class="btn btn-warning" href="@userEditUrl">
                                                <i class="fas fa-user-edit fa-sm"></i>
                                            </NavLink>
                                            <button class="btn btn-danger" @onclick = "() => {Modal.Show();}">
                                                <i class="fas fa-trash fa-sm"></i>
                                            </button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="align-items-end">
                                           -
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <AppModal @ref="Modal">
        <Title>Delete Notification</Title>
        <ChildContent>
            Are you sure to remove this User?
        </ChildContent>
        <Footer>
            <button class="btn btn-secondary" @onclick="() => Modal.Hide()">Cancel</button>
            <button class="btn btn-danger">Delete</button>
        </Footer>
    </AppModal>
}

