@page "/employeeList"
@inject NavigationManager Navigation
<PageTitle>Employee List</PageTitle>

@{
    int employeeNo = 0;
}
@if (employeeModels is null)
{
    <div class="d-flex flex-column h-100 justify-content-center align-items-center" style="padding: 30vh">
        <div class="spinner-border text-primary mb-3" role="status">
        </div>
        <div>
            <div style="font-size: larger; font-weight: 800; color: black;">Loading ... </div>
        </div>
    </div>
}
else
{
    <div class="card shadow">
        <div class="card-header  d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Employee List</h6>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <NavLink href="employeeCreate" class="btn btn-primary"> <i class="fas fa-user-plus fa-sm"></i> New Employee</NavLink>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="card-body" style="height: 610px; overflow-y: auto;">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Employee Code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Department</th>
                            <th>Position</th>
                            <th>JOD</th>
                            <AuthorizeView Roles="Admin">
                                <Authorized>
                                    <th></th>
                                </Authorized>
                            </AuthorizeView>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>Employee Code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Department</th>
                            <th>Position</th>
                            <th>JOD</th>
                            <AuthorizeView Roles="Admin">
                                <Authorized>
                                    <th></th>
                                </Authorized>
                            </AuthorizeView>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var employee in employeeModels)
                        {
                            var editUrl = $"employeeUpdate/{employee.EmployeeId}";
                            employeeNo++;
                            <tr>
                                <td>@employeeNo</td>
                                <td>@employee.EmployeeCode</td>
                                <td>@($"{employee.FirstName} {employee.LastName}")</td>
                                <td>@employee.Email</td>
                                <td>@employee.DepartmentCode</td>
                                <td>@employee.PositionCode</td>
                                <td>@employee.DateOfJoining.ToString("yyyy-MM-dd")</td>
                                <AuthorizeView Roles="Admin">
                                    <Authorized>
                                        <td>
                                            <div class="align-items-end">
                                                <NavLink class="btn btn-warning" href="@editUrl"><i class="fas fa-edit fa-sm"></i></NavLink>
                                                <button class="btn btn-danger"
                                                        @onclick="() => { DeleteId = employee.EmployeeId; Modal.Show(); }">
                                                    <i class="fas fa-trash fa-sm"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </Authorized>
                                </AuthorizeView>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <AppModal @ref="Modal">
        <Title>Delete Notification</Title>
        <ChildContent>
            Are you sure to remove this Employee?
        </ChildContent>
        <Footer>
            <button class="btn btn-secondary" @onclick="() => Modal.Hide()">Cancel</button>
            <button class="btn btn-danger" @onclick="Delete">Delete</button>
        </Footer>
    </AppModal>
}